// Screens sizes
$maxSmallMobile: "(max-width: 576px)";
$maxMiniMobile: "(min-width: 576px)";
$mobile: "(max-width: 769px)";
$desktop: "(min-width: 769px)";
$ipadPro: "(min-width: 992px) and (max-width: 1025px)";
$minMaxSmall: "(min-width: 768px) and (max-width: 991px)";
$maxSmall: "(max-width: 991px)";
$minMidium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";


// Colors
$main-color: #E840C1;
$black-color: #000;
$gray-color: #707070;
$white-color: #FFF;
$light-white-color: #F7F7F7;
$light-gray-color: #4B4B4B;

// Fonts
$Helvetica-Neue: 'Helvetica-Neue', sans-serif;