.services-request {
    left: 50px;
    right: auto;
    @media #{$maxSmall} {
        left: 10px;
    }
    .request {
        justify-content: space-between;
        .request-info {
            margin-right: 16px;
            margin-left: 0;
            .request-btn {
                .see-request {
                    margin-left: 60px;
                    margin-right: 0;
                    @media #{$mobile} {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}